<div class="flex items-center col-span-4 row-span-2 px-6 py-4">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mr-2 text-blue-600" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
    </svg>
    <input type="text" name="name" placeholder="Search"
        class="w-full py-2 border-b-2 border-blue-400 outline-none focus:border-green-400"
        (keyup)="search($any($event.target).value)">
    <div class="flex -mr-px">
      <span class="flex items-center leading-normal bg-grey-lighter rounded rounded-l-none border border-l-0 border-grey-light px-3 whitespace-no-wrap text-grey-dark text-sm">
        <select id="sorting" name="sorting"
          class="focus:ring-indigo-500 focus:border-indigo-500 h-full py-0 pl-2 pr-7 border-transparent bg-transparent text-gray-500 sm:text-sm rounded-md"
          (change)="sort($any($event.target).value)">
          <option selected>Select</option>
          <option value="asc">Price Ascending</option>
          <option value="desc">Price Descending</option>
        </select>
      </span>
    </div>
</div>

<div class="max-w-xs mx-4 mb-2 rounded-lg shadow-lg" *ngFor="let product of products">
  <img class="w-full h-48"
      [src]="product.image"
      height="200"
      alt="product" />
  <div class="px-6 py-4">
    <h4 class="mb-3 text-xl font-semibold tracking-tight text-gray-800">{{product.title}}</h4>
    <div class="leading-normal text-gray-700">
      {{product.description}}
      <hr/>
      <div class="font-extrabold">Price: ${{product.price}}</div>
    </div>
  </div>
</div>

<div class="sticky text-xl mt-auto mr-auto bottom-5 rounded-lg px-5">
  <button type="button" 
    class="bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-lg px-5 py-2.5 text-center mr-2 mb-2"
    (click)="loadMore()">
    <span class="font-extrabold">Load More</span>
  </button>
</div>